*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar{
    background-color: rgb(47, 46, 46);
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color:#E67E22;
    border-radius: 5px;
}

#seta{
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    padding: 10px;
    background-color: rgb(64, 63, 63);
    opacity: 0.4;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
    
#seta:hover{
    background-color: rgb(73, 72, 72);
    opacity:unset;
    color: white;
}


/* HEADER */

#imagemPrincipal{
    width: 100%;
    max-width: 100%;
    height: 930px;
}

#logo{
    position: absolute;
    display: flex;
    color: white;
    margin: 50px;
}

#logo img{
    width: 40px;
    margin-right: 10px;
}

#logo p{
    font-size: 28px;
}

#central{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 90px;
    top: 370px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

#central button{
    font-size: 30px;
    padding: 20px;
    border: none;
    background-color: #E67E22;
    cursor: pointer;
}


/* SOBRE A EMPRESA */

#sobre_a_empresa{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

#sobre_a_empresa_texto{
    width: 50%;
    max-width: 700px;
    margin-top: 5%;
    margin-right: 100px;
}

#sobre_a_empresa h1{
    font-size: 75px;
    color: #E67E22;
}

#sobre_a_empresa p{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#sobre_a_empresa img{
    width: 800px;
    max-width: 100%;
}

/* O QUE OFERECEMOS */

#oque_oferecemos{
    margin-top: 170px;
    background-color:rgb(25, 25, 25);
}

#oque_oferecemos h1{
    font-size: 75px;
    color: #E67E22;
    text-align: center;
}

.servicos_prestados{
    text-align: center;
    color: white;
    margin-bottom: 100px;
    visibility: hidden;
}

.servicos_prestados h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.servicos_prestados img{
    width: 650px;
    border: 2px solid #E67E22;
    margin-bottom: 15px;
}

.servicos_prestados p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 60%;
    margin: auto;
}

/* PLANOS */

#planos h1{
    font-size: 75px;
    color: #E67E22;
    text-align: center;
    margin-bottom: 50px;
}

#container_planos{
    display: flex;
    justify-content: space-around;
}

.cards_planos{
    padding: 30px;
    border: 2px #E67E22 solid;
    background-color: rgba(73, 72, 72, 0.447);
    width: 400px;
    height: 400px;
}

.cards_planos h2{
    color: #E67E22;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards_planos p{
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards_planos hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #E67E22;
}

/* FORMULÁRIO */

form{
    margin-top: 110px;
    text-align: center;
    font-size: 20px;
    color: #E67E22;
    background-color:rgb(25, 25, 25);
}

form input{
    margin: 50px auto;
    display: block;
    width: 500px;
    height: 40px;
    font-size: 15px;
}

form button{
    background-color: rgba(87, 205, 87, 0.819);
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    margin-bottom: 100px;
}


/* FOOTER */

footer{
    display: flex;
    text-align: center;
    background-color: #E67E22;
    justify-content: space-around;
    display: flex;
}

footer div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 50px;
}



/* RESPONSIVIDADE HEADER */

@media(max-width: 1600px){

    #imagemPrincipal{
        height: 100%;
    }

    #central{
        font-size: 70px;
        top: 250px;
    }
}

@media(max-width: 1350px){
    #logo p{
        font-size: 20px;
    }

    #logo img{
        width: 30px;
    }

    #central{
        font-size: 60px;
        top: 200px;
    }

    #central button{
        font-size: 20px;
    }
}

@media(max-width: 1130px){
    #central{
        font-size: 50px;
        top: 180px;
    }
}

@media(max-width: 900px){
    #logo{
        margin: 20px;
    }

    #central{
        font-size: 35px;
        top: 17%;
        top: 150px;
    }

    #central button{
        font-size: 15px;
        padding: 15px;
        top: 220px;
    }
}

@media(max-width: 700px){
    #logo p{
        font-size: 15px;
    }

    #logo img{
        width: 20px;
    }

    #central{
        font-size: 30px;
        top: 140px;
    }

    #central button{
        font-size: 12px;
        padding: 12px;
    }
}

@media(max-width: 600px){
    #logo{
        margin: 12px;
    }

    #logo p{
        font-size: 10px;
    }

    #logo img{
        width: 15px;
        margin-right: 5px;
    }

    #central{
        font-size:20px;
        top: 100px;
    }

    #central button{
        font-size: 10px;
        padding: 10px;
    }

}

@media(max-width: 480px){
    #central{
        top: 70px;
    }
}

/* RESPONSIVIDADE SOBRE A NOSSA EMPRESSA */

@media (max-width: 1650px){
    
    #sobre_a_empresa img{
        width: 700px;
    }
}

@media (max-width: 1550px){
   

    #sobre_a_empresa img{
        width: 600px;
    }

    #sobre_a_empresa h1{
        font-size: 65px;
    }

    #sobre_a_empresa p{
        font-size: 25px;
    }

    #sobre_a_empresa_texto{
        margin-right: 50px;
    }
}

@media (max-width: 1400px){
   

    #sobre_a_empresa_texto{
        margin-right: 0px;
    }

    #sobre_a_empresa{
        margin-top: 80px;
        display: block;
        text-align: center;
    }

    #sobre_a_empresa h1{
        font-size: 75px;
    }

    #sobre_a_empresa p{
        font-size: 30px;
    }

    #sobre_a_empresa img{
        margin-top: 50px;
        width: 700px;
    }

    #sobre_a_empresa_texto{
        margin: auto;
        text-align: center;
        width: 80%;
        max-width: 100%;
    }
}

@media (max-width: 950px){
   
    #sobre_a_empresa h1{
        font-size: 60px;
    }

    #sobre_a_empresa p{
        font-size: 25px;
    }

    #sobre_a_empresa img{
        width: 500px;
    }
}

@media (max-width: 700px){

    #sobre_a_empresa{
        margin-top: 50px;
    }

    #sobre_a_empresa h1{
        font-size: 40px;
    }

    #sobre_a_empresa p{
        font-size: 17px;
    }

    #sobre_a_empresa img{
        width: 400px;
    }
}

@media (max-width: 500px){

    #sobre_a_empresa h1{
        font-size: 30px;
    }

    #sobre_a_empresa p{
        font-size: 15px;
    }

    #sobre_a_empresa img{
        margin-top: 30px;
        width: 300px;
    }
}

/* RESPONSIVIDADE O QUE OFERECEMOS */

@media(max-width: 950px){
    
    #oque_oferecemos{
        margin-top: 70px;
    }

    #oque_oferecemos h1{
        font-size: 60px;
    }

    .servicos_prestados h2{
        font-size: 30px;
    }

    .servicos_prestados img{
        width: 400px;
    }

    .servicos_prestados p{
        font-size: 17px;
    }
}

@media(max-width: 700px){

    #oque_oferecemos h1{
        font-size: 40px;
    }
    .servicos_prestados h2{
        font-size: 20px;
    }
}

@media(max-width: 500px){
    #oque_oferecemos{
        margin-top: 55px;
    }

    #oque_oferecemos h1{
        font-size: 30px;
    }

    .servicos_prestados h2{
        font-size: 16px;
    }

    .servicos_prestados p{
        font-size: 15px;
    }

    .servicos_prestados img{
        width: 250px;
    }

    .servicos_prestados{
        margin-bottom: 50px;
    }
}


/* RESPONSIVIDADE PLANOS */

@media(max-width: 1400px){

    .cards_planos{
        margin:50px auto;
    }

    #container_planos{
        display: block;  
    }
}

@media(max-width: 950px){
    #planos h1{
        font-size: 60px;
    }
}

@media(max-width: 820px){
    
.cards_planos{
    width: 350px;
    height: 310px;
}

.cards_planos h2{
    font-size: 30px;
}

.cards_planos p{
    margin-top: 15px;
    font-size: 20px;
}

.cards_planos hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
}

@media(max-width: 700px){
    #planos h1{
        font-size: 40px;
    }

    .cards_planos{
        width: 280px;
        height: 280px;
    }

    .cards_planos h2{
        font-size: 25px;
    }

    .cards_planos p{
        font-size: 16px;
    }
}

@media(max-width: 450px){
    #planos h1{
        font-size: 40px;
    }

    .cards_planos{
        width: 250px;
        height: 260px;
    }

    .cards_planos h2{
        font-size: 22px;
    }

    .cards_planos p{
        font-size: 14px;
    }
}


/* RESPONSIVIDADE FORMULÁRIO */

@media(max-width: 950px){

form {
    font-size: 15px;
    margin-top: 50px;
}

form input{
    font-size: 13px;
    width: 400px;
    height: 30px;
}

form button{
    padding: 3px;
    font-size: 13px;
}
}

@media(max-width: 700px){
    form{
        font-size: 13px;
    }

    form input{
        font-size: 12px;
    }
}

@media(max-width: 500px){
    form{
        font-size: 10px;
    }

    form input{
        width: 300px;
        margin: 25px auto;
    }

    form button{
        font-size: 13px;
        margin-bottom: 50px;
    }
}


/* RESPONSIVIDADE FOOTER */

@media(max-width: 1000px){
    
    footer div{
        font-size: 15px;
    }
}

@media(max-width: 850px){
    footer{
        justify-content: none;
    }

    footer div{
        font-size: 12px;
        margin: 20px;
    }
}

@media(max-width: 600px){

    footer div{
        font-size: 10px;
    }
}

@media(max-width: 480px){

    footer div{
        font-size: 7px;
    }
}





